<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
